{% import "components/fields-detail.html.twig" as detailField %}
{#{% set fields_list_view = metadata['entities'][entity]['fields_list_view'] %}#}
{% set fields_list_view = metadata['entities'][entity]['module_views']['list']['layout']  %}
<div class="list-table-container">
    <table class="table table-sm table-hover" id="dynamicTable">
        <thead>
        <tr>
                <th scope="col">
                    <div class="btn-group btn-group-sm">
                        <!-- Fake button checkbox -->
                        <input type="checkbox" class="btn-check list-select-all" id="checkButton">
                        <label class="btn btn-outline-secondary" for="checkButton"></label>

                        <!-- Dropdown button -->
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Select All</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><input type="button" class="dropdown-item" href="#" value="Delete" id="select-delete-button"
                                       data-confirm="Are you sure to delete these record?"></li>
                        </ul>
                    </div>
                </th>
            {% if records|length > 0 %}
                {% for key in records[0]|keys %}
                    {% if key in fields_list_view %}
                        <th scope="col">
                            {% if pagination.sortBy == key %}
                                {% if pagination.sortOrder == 'DESC' %}
                                    <i class="fa fa-sort-desc" aria-hidden="true"></i>{% else%}<i class="fa fa-sort-asc" aria-hidden="true"></i>
                                {% endif%}
                            {% else %}
                                <i class="fa fa-sort" aria-hidden="true"></i>
                            {% endif %}
                            <a class="sort-table"
                               href="#"
                               data-order="{{ pagination.sortOrder }}"
                               data-sort="{{ key }}">
                                {{ key|replace({'_': ' '})|title }}</a>
                        </th>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr class="table-row-clickable" data-href="/{{ record.id }}">
                <td class="td-checkbox">
                    <input type="checkbox" class="form-check list-select-row" data-record-id="{{ record.id }}">

                </td>
                {% for key, value in record %}
                    {% if key in fields_list_view %}
                        {#                    <td>{{ value }}</td>#}
                        <td>{{ detailField.render(key, field_definitions, value | default(''), relationship[record.id], settings) }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.disable_pagination == false %}
        {% include "components/pagination.twig" %}
    {% endif %}
    <style>
        .table-row-clickable {
            cursor: pointer;
        }
        .table-row-clickable:hover {
            background-color: #f5f5f5;
        }
    </style>
</div>
